.bg-gradient {
  background: #2f6e2b;
  min-height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 450px;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .login-card {
    margin: 16px;
  }
}


.expense-form-container {
  background: white;
  padding: 12px;
  border-top: 1px solid #e0e0e0;
  position: relative;
}

.expense-form {
  max-width: 1200px;
  margin: 0 auto;

}

.floating-btn {
  position: absolute;
  right: 0px;
  bottom: 160px;
  z-index: 1;

  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.expenses-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.expense-item {
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f5f5f5;
  }

  &:last-child {
    border-bottom: none;
  }
}

// app global css in SCSS form
.title-incomes{
    border-bottom: 2px solid #388c13;
}